/**********版本信息样式开始**********/
.bbxx {
	margin: 20px 40px;
}
.bbxx h3 {
	color: #484747;
	font-size: 20px;
}
.bbxx table td {
	padding: 5px 20px;
}
/**********版本信息样式结束**********/

/**********操作指南样式开始**********/
.czzn {
	margin: 20px 40px;
}
.czzn h3 {
	color: #484747;
	font-size: 20px;
}
/**********操作指南样式结束**********/

/**********站点地图样式开始**********/
.zddt {
	margin: 20px 40px;
}
.zddt h3 {
	color: #484747;
	font-size: 20px;
}
/**********站点地图样式结束**********/