/*********Collection中小盒子的容器样式*********/
.box-container {
	padding: 30px 50px;
	margin: 0;
}
.box-container li {
	position: relative;
	width: 180px;
}
.box-container a {
	display: block;
	margin-bottom: 20px;
	text-decoration: none;
}
/*********小盒子头部样式*********/
.box-container .box-head {
	height: 32px;
	line-height: 32px;
	font-size: 18px;
	text-align: center;
	color: #FFF;
	background: #1E89B5;
	overflow: hidden;
}
.box-container a:hover .box-head {
	background: #F47900 !important;
}
/*********小盒子主体样式*********/
.box-container .box-body {
	box-sizing: border-box;
	height: 155px;
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
	word-wrap: break-word;
	color: #000;
	background: #A9A9A9;
	overflow: hidden;
}
.box-container .add .box-body {
	background: #A9A9A9 url(../img/lxr/plus.png) no-repeat center;
}
/*********小盒子删除按钮样式*********/
.box-container .delBtn {
	position: absolute;
	top: 0;
	right: 0;
	width: 32px;
	height: 32px;
	padding: 0;
	border: none;
	margin: 0;
	outline: 0;
	background: #F47900 url(../img/form/btn/del.png) no-repeat center;
	opacity: 0;
	filter: alpha(opacity=0);
}
.box-container a:hover+.delBtn {
	opacity: 1;
	filter: alpha(opacity=100);
	transition: opacity .2s .5s;
}
.box-container .delBtn:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
/*********召开/结束会议*********/
.box-container .beginBtn {
	position: absolute;
	bottom: 30px;
	left: 45px;
	width: 100px;
	height: 34px;
	padding: 0;
	border: none;
	margin: 0;
	outline: 0;
	color: #FFF;
	background: #1E89B5;
}
.box-container .beginBtn:hover {
	background: #F47900;
}

/*************联系人小盒子样式***************/
.shadow-box {
	border: 1px solid #D4D4D4;
	box-shadow: 0 0 10px 0 #ccc inset;
}
.shadow-box h3 {
	padding: 0;
	margin: 0;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	color: #484747;
	text-align: left;
	margin-left: 10px;
} 
.lxr-box {
	padding: 10px 20px;
}
.lxr-box .lxr {
	float: left;
	width: 160px;
	margin-left: 10px;
	color: #FFF;
	cursor: default;
}
.lxr-box .lxr-head {
	height: 30px;
	line-height: 30px;
	background: #1E89B5;
	font-size: 18px;
	text-align: center;
	overflow: hidden;
}
.lxr-box .lxr.active .lxr-head {
	background: #F47900;
}
.lxr-box .lxr-body {
	height: 42px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 10px;
	word-wrap: break-word;
	background: #A9A9A9;
	font-size: 16px;
	overflow: hidden;
}

/*************tab标签样式***************/
.tabBox ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.tabBox li {
	position: relative;
	float: left;
	height: 32px;
	line-height: 22px;
	padding: 4px 8px;
	border: 1px solid #000;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: none;
	margin-left: 24px;
	color: #444;
	cursor: pointer;
	background: #F4F1F1;
}
.tabBox li.active {
	font-weight: bold;
	color: #F47900;
	background: #FFF;
	z-index: 9;
}

.tabContent {
	display: none;
	padding: 30px 50px;
}
.tabContent.active {
	display: block;
}

/*************箭头样式***************/
.rightArrow {
	position: relative;
	display: inline-block;
	text-align: right;
	color: #FFF;
	background: #1E89B5;
	cursor: default;
}
.rightArrow:after {
	content: "";
	position: absolute;
	display: block;
	left: 100%;
}
.leftArrow {
	position: relative;
	display: inline-block;
	text-align: left;
	color: #FFF;
	background: #1E89B5;
	cursor: default;
}
.leftArrow:before {
	content: "";
	position: absolute;
	display: block;
	right: 100%;
}

/*************ip控件样式***************/
.ip-container {
	display: inline-block;
	width: 200px;
	padding-left: 1px;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.075) inset;
	transition: border linear .2s, box-shadow linear .2s;
	background: #FFF url(../img/ip_bg.png) no-repeat 46px center;
	vertical-align: middle;
}
.ip-container.active {
	border-color: #FBCB09;
	box-shadow: 0 0 5px 0 rgba(251,203,9,0.5) inset;
}

.ip-container .ip-part {
	float: left;
	width: 43px;
	height: 32px;
	line-height: 32px;
	padding: 0;
	border: none;
	box-shadow: none;
	margin: 2px 0 2px 8px;
	text-align: center;
	ime-mode: disabled;
}
.ip-container .ip-part:first-child {
	margin-left: 0;
}
.ip-container .ip-part:focus {
	box-shadow: none;
}

/*************ip控件样式***************/
.listTable {
	table-layout: fixed;
	width: 100%;
	min-width: 1156px;
	text-align: center;
	border: 1px solid #d6d5d5;
}
.listTable th {
	background: #ecdccc;
	font-size: 18px;
	line-height: 38px;
	color: #232323;
	font-weight: normal;
	white-space: nowrap;
}
.listTable td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 3px 0px;
	font-size: 16px;
	line-height: 38px;
	color: #353535;
}
.listTable tr.even {
	background: #f8f7f7;
}
.listTable tr.odd {
	background: #e0dcdc;
}
.listTable a {
	color: #1f8500;
	white-space: nowrap;
}
.listTable .checkbox-label {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	margin-left: 12px;
	vertical-align: middle;
}
.pageNum {
	margin: 12px 0 0 10px;
}
