/******表单样式******/
.fieldName {
	float: left;
	width: 150px;
	line-height: 64px;
	font-size: 24px;
	font-weight: normal;
	color: #2F2F2F;
}
.fieldBox {
	width: 100%;
	padding-left: 150px;
}
/******text文本输入框样式******/
input[type=text] {
	width: 126px;
	height: 64px;
	line-height: 24px;
	padding: 20px;
	border: none;
	outline: none;
	background: url(../img/frame/input.png) no-repeat 0 0;
}
input[type=text]:focus {
	background-position-y: -64px;
}
input.input-sm { width: 126px; background-position: 0 0; }
input.input-md { width: 226px; background-position: -126px 0; }
input.input-lg { width: 356px; background-position: -352px 0; }
/******select样式******/
.select-hgmwyp {
	position: relative;
	width: 126px;
}
.select-text-bg {
	background: url(../img/frame/input.png) no-repeat 0 0;
}
.select-text {
	height: 64px;
	line-height: 24px;
	padding: 20px;
	background: url(../img/frame/select.png) no-repeat right center;
}
.select-list {
	display: none;
	position: absolute;
	z-index: 100;
	left: 0;
	top: 53px;
	width: 100%;
	padding: 0 10px;
}
.select-hgmwyp ul {
	width: 100%;
	padding: 0;
	border: 1px solid #F47900;
	margin: 0;
	list-style: none;
	background: #FFF;
	cursor: default;
}
.select-hgmwyp li {
	border-top: 1px solid #F47900;
	padding: 8px 15px;
}
.select-hgmwyp li:first-child {
	border: none;
}
.select-hgmwyp li:hover {
	background: #E4E4E4;
}
.select-hgmwyp.select-sm { width: 126px; }
.select-hgmwyp.select-sm .select-text-bg { background-position: 0 0; }
.select-hgmwyp.select-md { width: 226px; }
.select-hgmwyp.select-md .select-text-bg { background-position: -126px 0; }
.select-hgmwyp.select-lg { width: 356px; }
.select-hgmwyp.select-lg .select-text-bg { background-position: -352px 0; }
.select-hgmwyp.active .select-text-bg { background-position-y: -64px; }
.select-hgmwyp.active .select-list { display: block; }
/******checkbox样式******/
input[type=checkbox] {
	display: none;
}
.label-checkbox {
	width: 95px;
	padding-left: 30px;
	margin-left: 10px;
	margin-bottom: 0;
	background: url(../img/frame/checkbox.png) no-repeat 0 15px;
	line-height: 64px;
	font-size: 20px;
	font-weight: normal;
}
.label-checkbox.active {/*需要js配合兼容IE8*/
	background-position: 0 -49px;
}
input[type=checkbox]:checked+label {
	background-position: 0 -49px;
}
/******表单按钮******/
.input-btn {
	display: inline-block;
	width: 140px;
	height: 60px;
	border: none;
	outline: none;
	background:  #1E89B5;
	color: #FFF;
	font-size: 27px;
	text-shadow: 0 2px 1px #555;
}
.input-btn:hover {
	background:  #F47900;
}
