/******用于表单布局样式******/
/******组合formLine+formCell+fieldBox可以达到多种布局效果********/
.formBox {
	/********用于select定位********/
	position: relative;
}
.formLine {
	margin-bottom: 20px;
}
.formLine.cf {
	margin-bottom: 10px;
}
.lineName {
	float: left;
	width: 260px;
	padding-right: 80px;
	line-height: 38px;
	font-size: 24px;
	font-weight: normal;
	color: #2F2F2F;
	text-align: right;
}
.formCell {
	margin-bottom: 10px;
}
.cellName {
	float: left;
	width: 140px;
	padding-right: 20px;
	line-height: 38px;
	font-size: 16px;
	font-weight: normal;
	color: #2F2F2F;
	text-align: right;
}
.fieldBox {
}
.fieldBox.sm {
	padding-left: 140px;
}
.fieldBox.lg {
	padding-left: 260px;
}
/******text文本输入框样式******/
input[type=text],
input[type=password] {
	width: 200px;
	height: 38px;
	padding: 7px 16px;
	vertical-align: middle;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.075) inset;
	background: #FFF;
	transition: border linear .2s, box-shadow linear .2s;
	color: #1C94C4;
}
input[type=text]:focus,
input[type=password]:focus {
	border-color: #FBCB09;
	box-shadow: 0 0 5px 0 rgba(251,203,9,0.5) inset;
	outline: 0;
}
/******spinner文本输入框样式******/
input.spinner {
	height: 30px;
	width: 100px;
	border: none;
	background: none;
	box-shadow: none;
}
input.spinner:focus {
	border: 1px solid #FBCB09;
	background: #FFF;
}
/******select样式******/
select {
	width: 200px;
}
.ui-selectmenu-button {
	vertical-align: middle;
}
.ui-state-default,.ui-state-focus {
	font-weight: normal !important;
}
.ui-selectmenu-button span.ui-selectmenu-text {
	padding: 7px 34px 7px 16px;
	line-height: 22px;
}
/******checkbox样式******/
input[type=checkbox] {
	display: none;
}
.checkbox-label {
	display: inline-block;
	padding: 0 0 0 30px;
	height: 38px;
	line-height: 38px;
	font-weight: normal;
	background: url(../img/form/checkbox/checkbox.png) no-repeat 0 3px;
	vertical-align: middle;
}
.checkbox-label.active {
	background-position: 0 -61px;
}

.checkbox-label.onoff1 {
	padding: 0;
	width: 60px;
	height: 32px;
	background: url(../img/form/checkbox/switch_off.png) no-repeat center;
	cursor: pointer;
}
.checkbox-label.onoff1.active {
	background: url(../img/form/checkbox/switch_on.png) no-repeat center;
}

.checkbox-label.onoff2 {
	padding: 0;
	width: 53px;
	height: 36px;
	background: url(../img/form/checkbox/switch1_off.png) no-repeat center;
	cursor: pointer;
}
.checkbox-label.onoff2.active {
	background: url(../img/form/checkbox/switch1_on.png) no-repeat center;
}

.checkbox-label.onoff3 {
	padding: 0;
	width: 30px;
	height: 30px;
	background: url(../img/form/checkbox/switch2_off.png) no-repeat center;
	cursor: pointer;
}
.checkbox-label.onoff3.active {
	background: url(../img/form/checkbox/switch2_on.png) no-repeat center;
}
/******radio样式******/
input[type=radio] {
	display: none;
}
.radio-label {
	display: inline-block;
	padding: 0 0 0 30px;
	height: 38px;
	line-height: 38px;
	font-weight: normal;
	background: url(../img/form/radio/radio.png) no-repeat 0 3px;
}
.radio-label.active {
	background-position: 0 -61px;
}
/******radio-set样式******/
.radio-set {
	display: inline-block;
	position: relative;
	font-size: 0;
}
.radio-set .radio-label {
	height: 32px;
	line-height: 32px;
	padding: 0 10px;
	font-size: 14px;
	background: url(../img/form/radio/mid1.png) repeat-x 0 0;
	color: #373737;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
}
.radio-first {
	position: relative;
	padding-left: 5px !important;
	margin-left: 10px;
}
.radio-first:before {
	content: "";
	position: absolute;
	left: -10px;
	top: 0;
	width: 10px;
	height: 100%;
	background: url(../img/form/radio/left1.png) no-repeat;
}
.radio-last {
	position: relative;
	padding-right: 5px !important;
	margin-right: 10px;
}
.radio-last:after {
	content: "";
	position: absolute;
	right: -10px;
	top: 0;
	width: 10px;
	height: 100%;
	background: url(../img/form/radio/right1.png) no-repeat;
}
.radio-split {
	display: inline-block;
	width: 1px;
	height: 32px;
	background: url(../img/form/radio/split.png) no-repeat;
}
.radio-set .radio-label.active {
	color: #FFF;
	background: url(../img/form/radio/mid2.png) repeat-x 0 0;
}
.radio-set .radio-first.active:before {
	background: url(../img/form/radio/left2.png) no-repeat;
}
.radio-set .radio-last.active:after {
	background: url(../img/form/radio/right2.png) no-repeat;
}
/******按钮样式******/
.btn {
	padding: .5em 1em;
	border: none;
	outline: none;
	background: #1E89B5;
	color: #FFF;
	font-size: 18px;
	/*text-shadow: 0 2px 1px #555;*/
}
.btn:hover {
	background:  #F47900;
}

.btn-ls {
	letter-spacing: 1em;
	padding: .5em .2em .5em 1.2em;
}
