/******表单样式******/
.formLine {
	width: 100%;
	margin-bottom: 20px;
}
.lineName {
	float: left;
	width: 260px;
	padding-right: 80px;
	line-height: 38px;
	font-size: 24px;
	font-weight: normal;
	color: #2F2F2F;
	text-align: right;
}
.formCell {
	margin-bottom: 10px;
}
.cellName {
	float: left;
	width: 140px;
	padding-right: 20px;
	line-height: 38px;
	font-size: 16px;
	font-weight: normal;
	color: #2F2F2F;
	text-align: right;
}
.fieldBox {
	overflow: hidden;
}
/******text文本输入框样式******/
input[type=text],
input[type=password] {
	width: 200px;
	height: 38px;
	padding: 7px 16px;
	vertical-align: middle;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.075) inset;
	background: #FFF;
	transition: border linear .2s, box-shadow linear .2s;
	color: #1C94C4;
}
input[type=text]:focus,
input[type=password]:focus {
	border-color: #FBCB09;
	box-shadow: 0 0 5px 0 rgba(251,203,9,0.5) inset;
	outline: 0;
}
input.spinner {
	height: 30px;
	width: 100px;
	border: none;
	background: none;
	box-shadow: none;
}
input.spinner:focus {
	border: 1px solid #FBCB09;
	background: #FFF;
}
/******select样式******/
select {
	width: 200px;
}
.ui-selectmenu-button {
	vertical-align: middle;
}
.ui-state-default,.ui-state-focus {
	font-weight: normal !important;
}
.ui-selectmenu-button span.ui-selectmenu-text {
	padding: 7px 34px 7px 16px;
	line-height: 22px;
}
/******checkbox样式******/
input[type=checkbox] {
	display: none;
}
.label-checkbox {
	display: inline-block;
	padding: 0 0 0 30px;
	height: 38px;
	line-height: 38px;
	font-weight: normal;
	background: url(../img/frame/checkbox.png) no-repeat 0 3px;
}
.label-checkbox.active {/*需要js配合兼容IE8*/
	background-position: 0 -61px;
}
input[type=checkbox]:checked+label {
	background-position: 0 -61px;
}
/******表单按钮******/
.btn {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
}
.btn-default {
	padding: 1em;
	margin: 0;
	border: none;
	outline: none;
	background:  #1E89B5;
	color: #FFF;
	font-size: 21px;
	text-shadow: 0 2px 1px #555;
}
.btn-default:hover {
	background:  #F47900;
}

.form-btns-bottom-right {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 140px;
}
.form-btns-bottom-right .input-btn {
	margin-top: 10px;
}
