/********首页头部样式********/
.navTop {
	height: 86px;
	background: #1E89B5;
	overflow: hidden;
}
.navTop-logo {
	height: 100%;
	padding-left: 250px;
	background: url(../img/frame/logo.png) no-repeat 42px center;
}
.navTop ul {
	float: right;
	padding: 0;
	margin: 0;
	list-style: none;
}
.navTop li {
	float: left;
	height: 86px;
	padding-left: 4px;
	background: url(../img/frame/split.png) no-repeat 0 5px;
	text-align: center;
}
.navTop a {
	display: block;
	width: 100%;
	height: 86px;
	padding-top: 10px;
	text-decoration: none;
}
.navTop a:hover,
.navTop a.active {
	background: #F47900;
}
.navTop li p {
	font-size: 18px;
	color: #FFF;
	margin: 0;
}
/***********左侧导航样式************/
#c1 {
	position: absolute;
	left: 0;
	right: 0;
	top: 86px;
	bottom: 0;
	min-width: 1000px;
	overflow: hidden;
	background: #F4F1F1 url(../img/frame/navTop_bg.png) repeat-x 0 0 \9;
}
/***********左侧导航样式************/
.navLeft {
	float: left;
	height: 100%;
	background: #F0F0F0;
}
.navLeft ul {
	width: 200px;
	padding: 4px 6px;
	margin: 0;
	list-style: none;
}
.navLeft li {
	padding-bottom: 10px;
	background: url(../img/navLeft/split.png) no-repeat 0 61px;
}
/******超链接样式******/
.navLeft a {
	display: block;
	height: 57px;
	line-height: 57px;
	color: #353535;
	font-size: 18px;
	text-decoration: none;
}
/******文本和图标******/
.navLeft .nav-icon {
	float: left;
	width: 58px;
	height: 57px;
	background-image: url(../img/navLeft/icon.png);
}
.navLeft .nav-ydyhy { background-position: -1073px -3px; }
.navLeft .nav-hyjl { background-position: -1131px -3px; }
.navLeft .nav-yyhy { background-position: -1191px -3px; }
.navLeft .nav-hymb { background-position: -1254px -3px; }

.navLeft .nav-hcddt { background-position: -235px -3px; }
.navLeft .nav-tjhc { background-position: -55px -3px; }
.navLeft .nav-dhm { background-position: -113px -3px; }
.navLeft .nav-spjz { background-position: 8px -3px; }
.navLeft .nav-ypclq { background-position: -173px -3px; }

.navLeft .nav-camera { background-position: -352px -3px; }

.navLeft .nav-spsr { background-position: -352px -3px; }
.navLeft .nav-spsc { background-position: -352px -3px; }
.navLeft .nav-yppz { background-position: -173px -3px; }
.navLeft .nav-hcjl { background-position: -472px -3px; }
.navLeft .nav-cyml { background-position: -528px -3px; }
.navLeft .nav-wlsz { background-position: -591px -3px; }
.navLeft .nav-ypsz { background-position: -649px -3px; }
.navLeft .nav-gpsz { background-position: -709px -3px; }
.navLeft .nav-rqsj { background-position: -769px -3px; }
.navLeft .nav-dyxx { background-position: -831px -3px; }
.navLeft .nav-aqbm { background-position: -891px -3px; }
.navLeft .nav-xtgx { background-position: -951px -3px; }
.navLeft .nav-ccsz { background-position: -1011px -3px; }

/******选中和浮动效果-黄色背景图片-图标切换******/
.navLeft a:hover,
.navLeft a.active {
	color: #FBFBFB;
	background: url(../img/navLeft/bg.png) no-repeat 0 0;
}
.navLeft a:hover .nav-icon,
.navLeft a.active .nav-icon {
	background-position-y: -63px;
}
/******右侧内容样式******/
.contentRight {
	height: 100%;
	overflow: auto;
	background: url(../img/frame/contentRight_bg.png) repeat-y 0 0 \9;
	box-shadow: 0 0 10px 1px #A3A1A1 inset;
}
