/********1920样式********/
@media (max-width: 1920px) {
	.navTop li {
		width: 119px;
	}
}

/********1440样式********/
@media (max-width: 1440px) {
	.navTop li {
		width: 99px;
	}
	
	.dhm-pz-container {
		height: 350px;
	}
}

/********1280样式********/
@media (max-width: 1280px) {
	.navTop li {
		width: 76px;
	}
	
	.dhm-pz-container {
		height: 300px;
	}
}

/********1024样式********/
@media (max-width: 1024px) {
	.navTop-logo {
		padding-left: 230px;
		background-position: 20px 10px;
	}
	
	.dhm-pz-container {
		height: 250px;
	}
	
	.portal-box img {
		width: 90px;
		height: 90px;
		margin-top: 15px;
	}
}
