body {
	background: #F0F0F0;
}
#navLeft {
	position: absolute;
	width: 200px;
	padding: 4px 6px;
}
#navLeft ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
#navLeft li {
	padding-bottom: 10px;
	background: url(../img/zkhy/split.png) no-repeat 0 61px;
}
/******黄色背景图片******/
#navLeft .nav-bg {
	height: 57px;
	line-height: 57px;
	color: #353535;
	font-size: 18px;
	cursor: pointer;
}
/******文本和图标******/
#navLeft .nav-text {
	padding-left: 58px;
}
#navLeft .ydyhy {
	background: url(../img/zkhy/1.png) no-repeat 15px 10px;
}
#navLeft .hyjl {
	background: url(../img/zkhy/2.png) no-repeat 15px 10px;
}
#navLeft .yyhy {
	background: url(../img/zkhy/3.png) no-repeat 15px 10px;
}
#navLeft .hymb {
	background: url(../img/zkhy/4.png) no-repeat 15px 10px;
}
/******选中和浮动效果******/
#navLeft .nav-bg:hover,
#navLeft .nav-bg.active {
	color: #FBFBFB;
	background: url(../img/zkhy/bg.png) no-repeat 0 0;
}
#navLeft .nav-bg:hover .nav-text,
#navLeft .nav-bg.active .nav-text {
	background-position: 15px -50px;
}
