/**********配置样式开始**********/
.pz {
	padding: 30px 50px;
}
.pz .formBox {
	padding: 20px 0;
}
.pz .cellName {
	padding-right: 5px;
}
.pz .fieldBox p {
	margin: 0 0 10px 0;
}
.pz .form-btns .btn {
	margin-left: 140px;
}
.pz .sliderBox .formCell {
	width: 680px;
}
/**********配置样式结束**********/

/**********网络设置样式开始**********/
.wlsz-box {
	padding: 20px;
	margin: 0 0 -10px -10px;
}
.wlsz-box .btn {
	width: 180px;
	height: 100px;
	margin-bottom: 10px;
	margin-left: 10px;
}
#pz_wlsz_wk .formCell[netType] {
	display: none;
}

#pz_wlsz_nat .cellName,
#pz_wlsz_sip .cellName {
	width: 160px;
}
#pz_wlsz_nat .fieldBox.sm,
#pz_wlsz_sip .fieldBox.sm {
	padding-left: 160px;
}
#pz_wlsz_nat .form-btns .btn,
#pz_wlsz_sip .form-btns .btn {
	margin-left: 160px;
}

#pz_wlsz_dksz .fieldBox {
	margin-left: 118px;
}
/**********网络设置样式结束**********/

/**********日期时间样式开始********/
#pz_rqsj .saveBtn {
	margin-left: 20px;
}
/**********日期时间样式结束**********/

/*************恢复出厂设置样式开始********/
#pz_ccsz .resetBtn {
	margin: 20px 50px;
}
/*************恢复出厂设置样式结束************/

/*************系统更新样式开始********/
#pz_xtgx .btn {
	margin: 20px 10px;
}
#pz_xtgx form {
	margin-left: 50px;
}
#pz_xtgx .cfgOutBtn {
	margin-left: 50px;
	margin-bottom: 20px;
	width: 120px;
}
#pz_xtgx .cfgOutBtn a {
	display: block;
	width: 100%;
	height: 100%;
	color: #FFF;
	text-decoration: none;
}
/*************系统更新样式结束************/

/*************安全保密样式开始********/
.aqbm-box {
	padding: 20px;
	margin: 0 0 -10px -10px;
}
.aqbm-box .btn {
	width: 180px;
	height: 100px;
	margin-bottom: 10px;
	margin-left: 10px;
}
/*************安全保密样式结束************/