/**********配置样式开始**********/
.pz {
	padding: 30px 50px;
}
.pz .formBox {
	padding: 20px 0;
}
.pz .cellName {
	padding-right: 5px;
}
.pz .fieldBox p {
	margin: 0 0 10px 0;
}
.pz .form-btns .btn {
	margin-left: 140px;
}
.pz .sliderBox .formCell {
	width: 680px;
}
/**********配置样式结束**********/

/**********网络设置样式开始**********/
.wlsz-box {
	padding: 20px;
	margin: 0 0 -10px -10px;
}
.wlsz-box .btn {
	width: 205px;
	height: 120px;
	margin-bottom: 10px;
	margin-left: 10px;
}
#pz_wlsz_wk .formCell[netType] {
	display: none;
}

#pz_wlsz_nat .cellName,
#pz_wlsz_sip .cellName {
	width: 160px;
}
#pz_wlsz_nat .fieldBox.sm,
#pz_wlsz_sip .fieldBox.sm {
	padding-left: 160px;
}
#pz_wlsz_nat .form-btns .btn,
#pz_wlsz_sip .form-btns .btn {
	margin-left: 160px;
}

#pz_wlsz_dksz .fieldBox {
	margin-left: 118px;
}
/**********网络设置样式结束**********/