/**********点播查询样式开始**********/
#zd_dbcx {
	margin: 20px 40px;
}
#zd_dbcx .form-btns {
	margin-top: 10px;
}
/**********点播查询样式结束**********/

/**********操作日志样式开始**********/
#zd_czrz {
	margin: 20px 40px;
}
#zd_czrz .form-btns {
	margin-top: 10px;
}
/**********操作日志样式结束**********/