/**********点播查询样式开始**********/
#zd_dbcx {
	margin: 20px 40px;
}
#zd_dbcx .form-btns {
	margin-top: 10px;
}
/**********点播查询样式结束**********/

/**********操作日志样式开始**********/
#zd_czrz {
	margin: 20px 40px;
}
#zd_czrz .listTable {
	min-width: 745px;
}
#zd_czrz .cellName {
	width: 100px;
	padding-right: 0;
}
#zd_czrz .fieldBox.sm {
	padding-left: 100px;
}
#zd_czrz .form-btns {
	margin-top: 10px;
}
/**********操作日志样式结束**********/

/**********麦克风测试样式开始**********/
#zd_mic {
	margin: 20px 40px;
}
#zd_mic .cellName {
	width: 200px;
}
#zd_mic .fieldBox {
	padding-left: 200px;
}
/**********麦克风测试样式结束**********/