#mainContent {
	height: 100%;
	min-height: 300px;
	width: 100%;
	padding-left: 200px;
	background: url(../img/zkhy/bg_left.png) repeat-y 200px 0;
	overflow: auto;
}
.select-lxr-container {
	width: 100%;
	text-align: center;
}
.ydyhhc {
	display: inline-block;
	width: 33%;
	height: 624px;
	border: 1px solid #D4D4D4;
	box-shadow: 0 0 10px 0 #ccc inset;
	vertical-align: top;
	overflow: auto;
	background: #E5E5E5;
}
.hcdzb {
	position: relative;
	display: inline-block;
	width: 45%;
	height: 624px;
	vertical-align: top;
}
.hcdzb-scroll {
	width: 100%;
	height: 100%;
	padding-right: 12px;
	border: 1px solid #D4D4D4;
	box-shadow: 0 0 10px 0 #ccc inset;
	overflow: auto;
	background: #F8F7F7;
}
.nav-character {
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 100%;
	background: #C6C6C6;
}
.nav-character i {
	float: left;
	width: 100%;
	height: 24px;
	line-height: 24px;
	font-size: 24px;
	font-style: normal;
	text-align: center;
	color: #434242;
	cursor: pointer;
}
.nav-character i:hover {
	background: #F47900;
}
/*********h3标题样式*********/
.select-lxr-container h3 {
	padding: 0;
	margin: 0;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	color: #484747;
	text-align: left;
	margin-left: 10px;
}
/*********联系人标签样式*********/
.lxr-label {
	height: 32px;
	padding-left: 12px;
	margin-left: 8px;
	line-height: 32px;
	background: #DDDCDC;
	color: #5F5F5F;
	font-size: 25px;
	text-align: left;
}
/*********联系人容器样式*********/
.lxr-container {
	padding: 10px 20px;
}
/*********联系人样式*********/
.lxr {
	float: left;
	width: 160px;
	margin-left: 10px;
	color: #FFF;
	cursor: default;
}
/*********联系人头部样式*********/
.lxr-head {
	height: 30px;
	line-height: 30px;
	background: #1E89B5;
	font-size: 18px;
}
.lxr.active .lxr-head {
	background: #F47900;
}
/*********联系人主体样式*********/
.lxr-body {
	height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 10px;
	word-wrap: break-word;
	background: #A9A9A9;
	font-size: 16px;
}
/******添加按钮*******/
.btn-area-adddel {
	display: inline-block;
	width: 103px;
	height: 624px;
	padding-top: 230px;
	margin: 0 20px;
	vertical-align: top;
	overflow: hidden;
}
/******添加删除按钮*******/
.btn-add {
	position: relative;
	width: 66px;
	height: 44px;
	line-height: 44px;
	text-align: right;
	font-size: 20px;
	color: #FFF;
	background: #1E89B5;
	cursor: default;
}
.btn-add:after {
	content: "";
	display: block;
	position: absolute;
	left: 100%;
	top: -15px;
	border: 37px solid transparent;
	border-left-color: #1E89B5;
}
.btn-add:hover {
	background: #F47900;
}
.btn-add:hover:after {
	border-left-color: #F47900;
}
/******删除按钮*******/
.btn-del {
	position: relative;
	width: 66px;
	height: 44px;
	line-height: 44px;
	margin-top: 37px;
	margin-left: 37px;
	text-align: left;
	font-size: 20px;
	color: #FFF;
	background: #1E89B5;
	cursor: default;
}
.btn-del:before {
	content: "";
	display: block;
	position: absolute;
	right: 100%;
	top: -15px;
	border: 37px solid transparent;
	border-right-color: #1E89B5;
}
.btn-del:hover {
	background: #F47900;
}
.btn-del:hover:before {
	border-right-color: #F47900;
}

/******表单样式******/
.form-container {
	width: 88%;
	margin-left: 6%;
	margin-top: 20px;
	margin-bottom: 20px;
}
.form-cell {
	margin-left: 3%;
	float: left;
}
.form-btns {
	float: right;
}
.fieldName {
	width: 100px;
}
.fieldBox {
	padding-left: 100px;
}

.mode-container {
    border: 1px solid #D4D4D4;
    box-shadow: 0 0 10px 0 #ccc inset;
    padding: 15px;
    background: #e5e5e5;
    overflow: hidden;
}
.mode-bg {
    float: left;
    margin-left: 20px;
    width: 160px;
    height: 90px;
    background: #A9ABAE;
}
.mode-bg table {
    width: 100%;
    height: 100%;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
}
.mode-bg td {
    border: 2px solid #FFF;
    background: #1E89B5;
}
.mode-bg .none-visible {
    visibility: hidden;
}
